.Doctor-search{
    padding: 0;
}
.member .member__img{
    max-height: 300px;
    min-height: 300px;
}
.member .member__info .member__desc{
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    max-height: 105px;
    min-height: 105px;
}
.list-unstyled{padding: 0;}
.team-layout2 .card .card-heading{
    margin: 10px;
    padding: 10px;
}
.team-layout2 .card .card-heading i{
    line-height: 38px;
    padding: 0px 10px;
}
